{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body>
    <br>
        
    <div class="container bg-dark text-light shadow-md p-5 form-layout">

        <h1> Create an Organisation </h1>
        
        <h5> Group up and get things done! </h5>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            <!-- Prevents attacks -->
            {% csrf_token %}

            {{ form|crispy }}

            <br>

            <button type="submit" class="btn btn-secondary w-100 btn-block p-3">
                Create Organisation
            </button>
            <br>
        </form>
        <br>
        <div class="text-center">
            <p> Don't want to make an org? <a href="{% url 'dashboard' %}"> Get back to dashboard here </a></p> 
        </div>

    </div>

</body>


{% endblock %}