{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<body>
        <br>
        
    <div class="container bg-dark text-light shadow-md p-5 form-layout">

        <h1> Log in to your account </h1>
        
        <h5> Get back to working on your projects</h5>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            <!-- Prevents attacks -->
            {% csrf_token %}

            {{ form|crispy }}

            <br>

            <button type="submit" class="btn btn-secondary w-100 btn-block p-3">
                Submit
            </button>
            <br>
        </form>
        <br>
        <div class="text-center">
            <p> Don't have an account? <a href="{% url 'register' %}"> Register here </a></p> 
        </div>

    </div>

</body>


{% endblock %}