{% extends "core/base.html" %}

{% block content %}



<div class="container text-center mt-5 py-5 hero-section">


    <h1 class="display-4 fw-bold">
        StrategyPlus
    </h1>

    <p class="lead mt-3">
        Where teams turn ideas into execution.
    </p>

    <p class="text-muted mx-auto" style="max-width: 600px;">
        Create organisations, launch projects, and keep everything structured — from planning to delivery — in one clean workspace.
        <br><br>
        No clutter. No chaos. Just focused progress.
    </p>

    <div class="mt-4">
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg px-4">
                Go to Dashboard
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4">
                Login
            </a>
            <a href="{% url 'register' %}" class="btn btn-secondary btn-lg px-4">
                Create Account
            </a>
        {% endif %}
    </div>

</div>

{% endblock %}